@{
    ViewData["Title"] = "Home";
}

<section class="jumbotron text-center">
    <div class="container"> 
        <h1>Welcome to Bookstore</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p> 
            <a asp-action="Search" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        @*<h3 class="h3">Top books</h3>*@
        <big>Top books</big>
        <p big>Top books using attribute</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"></svg>
                    <div class="card-body">
                        <h3 class="card-title">This section will be used to display title</h3>
                        <p class="card-text">This section will be used to display the short descrption of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#"
                                   class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"></svg>
                    <div class="card-body">
                        <h3 class="card-title">This section will be used to display title</h3>
                        <p class="card-text">This section will be used to display the short descrption of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#"
                                   class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"></svg>
                    <div class="card-body">
                        <h3 class="card-title">This section will be used to display title</h3>
                        <p class="card-text">This section will be used to display the short descrption of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#"
                                   class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
