@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "All books";
}


<div class="container">
    <h3 class="display-4">All books</h3>
    <div class="row">
        @if (Model.Any())
        {
            foreach (var book in Model)
            {
                <div class="col-md-4">
                    <partial name="_BookThumbnail" model="book"/>
                </div>
            }

        }
        else
        {
            <h3 class="display-4">There is no book</h3>
        }
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(() => {
            //alert("Hello from Get All Books View");
        });
    </script>

}

