@model int
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details from admin Area and the value is : @Model</h2>
<a asp-action="index" asp-controller="home" asp-area="">Back to home</a>

